* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

:root {
  --color-bg: #fafafc;
  --color-netural: #ede8e8;
  --color-grey: #f6f2f2;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #a3cffb;
  --color-green: #5bc236;
  --color-purple: #9f6bec;
  --color-rose: #fb455d;

  --container-width-large: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --font-main: "Satoshi", sans-serif;

  --box-shadow: 0px 3px 15px rgba(166, 166, 166, 0.2);
}

::-webkit-scrollbar {
  display: none;
}

#light {
  background-color: var(--color-grey);
}

#dark {
  background-color: #111111;
}
body {
  background-color: var(--color-grey);
  color: var(--color-black);
  font-family: var(--font-main);
  font-size: 20px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav--container {
  display: flex;
  width: 100%;
  max-width: 2100px;
  justify-content: space-around;
  align-items: center;
  padding: 80px 0;
  align-items: center;
  font-weight: bold;
}
.container-main {
  max-width: 2030px;
  margin: 0 auto;
}

.nav--logo {
  font-size: 80px;
  font-weight: bold;
}
#dark .nav--logo {
  color: var(--color-white);
}
.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background-color: var(--color-netural);
  width: 520px;
  padding: 13px 30px;
}
.nav-menu_option {
  padding: 10px 20px;
  font-weight: medium;
  border-radius: 50px;
  font-size: 24px;
}

.nav-pill {
  position: absolute;
  width: 100px;
  height: 100px;
  height: auto;
  background-color: var(--color-white);
  content: ".";
  visibility: hidden;
}
.nav-menu_option:hover {
  cursor: pointer;
  color: rgb(175, 175, 175);
  transition: all 0.4s ease;
}
.active {
  background-color: var(--color-white);
}

/* ============== GRID PROPS ===================== */
.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  grid-auto-rows: 400px;
  gap: 30px 30px;
  padding-bottom: 100px;
}

.grid-item1 {
  grid-column: 1;
  grid-row: 1 / 2;
}
.grid-item2 {
  grid-column: 2;
  grid-row: 1 / 2;
}
.grid-item3 {
  grid-column: 2;
  grid-row: 1 / 2;
}

.grid-item4 {
  grid-column: 3;
  grid-row: 1;
}
/* ============== Flex PROPS ===================== */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

/* ========   Button && Toggles Props ==== */

.btn {
  height: 50px;

  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}
.btn:hover,
.btn--casestudy:hover {
  transition: all 0.2s ease;
  outline: 5px solid var(--color-white);
}
.btn--contact {
  width: 200px;
  background: var(--color-black);
  color: var(--color-white);
  text-align: center;
  border-radius: 50px;
  padding: 22px 20px;
  font-size: 24px;
}

#dark .btn--contact {
  background: var(--color-white);
  color: var(--color-black);
}

.btn--contact:hover span {
  transition: all 0.2s ease;
  transform: translateX(4px);
  display: inline-block;
}
.btn--white {
  background: var(--color-white);
  bottom: 14px;
  left: 14px;
  width: 50px;
  position: absolute;
}
.btn--casestudy {
  width: 130px;
  height: 50px;
  border-radius: 100px;
  background-color: var(--color-white);
  font-weight: bold;
  text-decoration: none;
  color: var(--color-black);
  display: flex;
  justify-content: space-around;
  padding: 10px;
  box-shadow: var(--box-shadow);
}
.btn__icon {
  height: auto;
  width: 15px;
}

.radius {
  border-radius: 30px;
}
.container--switch {
  background: var(--color-grey);
}

.switch {
  position: relative;
  display: inline-block;
  width: 88px;
  height: 54px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "🌙";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 46px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-green);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "☀️";
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*========= Containers ======= */

.container {
  border-radius: 30px;
  box-shadow: var(--box-shadow);
  border: 5px solid transparent;
}
#dark .container {
  border: 5px solid #47c465;
  border-radius: 30px;
  border: double 5px transparent;
  background-image: linear-gradient(#111, #111),
    linear-gradient(90deg, #cdb8f6, #848ee9);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#light .container {
  background-color: var(--color-white);
}

.container--casestudy__image {
  background-size: cover;
  box-shadow: var(--box-shadow);
}
.container--bio {
  grid-column: span 2;
}
.child-padding {
  padding: 40px 60px;
}
.container--bio__image {
  max-width: 120px;
  height: auto;
}
.container--bio__name {
  font-size: 30px;
  font-weight: bold;
  color: var(--color-black);
}

#dark .container--bio__name {
  color: rgb(209, 209, 209);
}
.bio--container__bio {
  line-height: 36px;
  font-size: 20px;
  color: rgb(117, 117, 117);
}
#dark .bio--container__bio {
  line-height: 36px;
  font-size: 20px;
  color: var(--color-white);
}

.container--social {
  position: relative;
}

.container--mapbox {
  position: relative;
}
.bgColor--blue {
  background-image: linear-gradient(19deg, #a3cffb 0%, #a3cffb 100%);
}
.bgColor--purple {
  background-image: linear-gradient(
    19deg,
    rgb(35, 35, 35) 0%,
    rgb(39, 33, 33) 100%
  );
  background-color: #111;
}
.bgColor--dark-blue {
  background-image: linear-gradient(19deg, #0072b1 0%, #0072b1 100%);
}

.container--social__icon {
  height: auto;
  width: 90px;
}

.container--casestudy {
  background: #fefaf8;
  display: flex;
  flex-direction: row;
  grid-column: span 2;
  display: flex;
  justify-content: space-evenly;
}
.container--casestudy__image {
  border-radius: 15px;
  height: auto;
}

#dark .casestudy--title {
  color: var(--color-white);
}

.casestudy--image {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5px 40px;
}
.casestudyImg {
  border-radius: 15px;
}
.casestudy--info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.casestudy--info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 240px;
  max-width: 330px;
}
.casestudy--logo {
  border-radius: 10px;
  width: 60px;
}
.casestudy--bio {
  color: rgb(117, 117, 117);
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
  width: 400px;
}
#dark .casestudy--bio {
  color: rgb(209, 209, 209);
}
/* ============== Music Container  ===================== */
.container--music {
  background-image: linear-gradient(#fb5b73, #fa2f47);
  grid-column: span 1;
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fb4159;
  position: relative;
}

.music--note {
  position: absolute;
  height: 50px;
  left: 305px;
  top: 48px;
}
.container--music__header {
  font-size: 30px;
  color: var(--color-white);
  -webkit-mask: linear-gradient(90deg, #0000, #000 10% 80%, #0000);
}
.container--music__image {
  height: auto;
  width: 210px;
  border-radius: 15px;
  border: 5px solid var(--color-white);
}

.container--music__artist {
  text-align: left;
  font-size: 24px;
  font-weight: 300;
  color: #bdbdbd;
}

.container--music__icon {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;
}
.music--box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
}
.container--music__bar {
  width: 3px;
  height: 100%;
  background-color: var(--color-white);
  border-radius: 3px;
  animation: bounce 2.2s ease infinite alternate;
  content: "";
}
.container--music__bar:nth-of-type(2) {
  animation-delay: -2.2s; /* Start at the end of animation */
}

.container--music__bar:nth-of-type(3) {
  animation-delay: -3.7s; /* Start mid-way of return of animation */
}

/* ============== mapboxgl PROPS ===================== */
/* Make it a marquee */
.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}
/* ============== mapboxgl PROPS ===================== */

.mapboxgl-canvas-container {
  width: 400px;
  height: 400px;
  box-shadow: var(--box-shadow);
  border-radius: 30px;
}
.mapboxgl-marker {
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(93, 161, 224, 0.4);
  transition: all 0.4s ease;
}

.mapboxgl-canvas-container:hover .mapboxgl-marker {
  animation: grow 0.4s;
  transition: all 0.4s ease;
}

.mapboxgl-canvas-container:hover .mapboxgl-marker img {
  animation: rotate 2s infinite;
  transition: all 0.4s ease;
}

a.mapboxgl-ctrl-logo,
.mapboxgl-compact {
  display: none;
}

.mapboxgl-ctrl-group:not(:empty) {
  box-shadow: none;
  width: 380px;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
}

.mapboxgl-ctrl-group button:first-child,
.mapboxgl-ctrl-group button:last-child {
  border-radius: 50px;
  background-color: var(--color-white);
  height: 50px;
  width: 50px;
  border-radius: 50px;
  transition: ease-out 0.2s;
}

.mapboxgl-ctrl-group button:last-child:hover,
.mapboxgl-ctrl-group button:first-child:hover {
  outline: 5px solid rgb(255, 255, 255, 0.5);
  background-color: var(--color-white);
}

@media (max-width: 700px) {
  .grid-item1 {
    grid-column: 1;
    grid-row: 1;
  }
  .grid-item2 {
    grid-column: 1;
    grid-row: 2;
  }
  .grid-item3 {
    grid-column: 1 / 1;
    grid-row: 2;
  }
  .grid-item4 {
    grid-column: 1;
    grid-row: 3;
  }
}
/* ============== MEDIA QUERIES (Small Devices) ===================== */

@media (max-width: 1300px) {
  /* .grid-item1 {
    grid-column: 1;
    grid-row: 1;
  } */
  .grid-item2 {
    grid-column: 2;
    grid-row: 1;
  }
  /* .grid-item3 {
    grid-column: 1 / 1;
    grid-row: 2;
  } */
  .grid-item4 {
    grid-column: 1;
    grid-row: 2;
  }
  .nav-menu {
    width: 350px;
  }
  .nav-menu_option {
    font-size: 16px;
    padding: 5px 10px;
  }

  .container--bio {
    grid-column: span 1;
  }
  .grid {
    grid-template-columns: 300px;
    grid-auto-rows: 150px;
  }
  .child-padding {
    padding: 30px;
  }
  .bio--container__bio {
    font-size: 16px;
    line-height: 30px;
  }
  .casestudy--image {
    display: none;
  }
  .container--casestudy {
    grid-column: span 1;
  }
  .casestudy--bio {
    font-size: 16px;
    width: 300px;
  }
}

/* ============== MEDIA QUERIES (Medium Devices) ===================== */
@media (max-width: 1600px) {
  nav {
    flex-direction: column;
  }
  .nav--container {
    flex-direction: column;
  }
  .btn--contact {
    display: none;
  }
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(360px, 360px));
    grid-auto-rows: 360px;
  }
  .container--bio__image {
    width: 80px;
  }
  .nav--logo {
    padding-bottom: 20px;
  }

  .mapboxgl-ctrl-group:not(:empty) {
    width: 320px;
  }

  .music--note {
    height: 30px;
  }
}

/* ============== Animations ===================== */

@keyframes grow {
  0% {
    width: 90px;
    height: 90px;
  }
  100% {
    height: 110px;
    width: 110px;
  }
}

@keyframes rotate {
  25% {
    transform: rotate(15deg) scale(1.3);
  }
  55% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-15deg) scale(1.3);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}

/* Make it move */
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
