* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

canvas {
  border-radius: 25px;
}

:root {
  --color-bg: #fafafc;
  --color-netural: #ede8e8;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #a3cffb;
  --color-purple: #9f6bec;

  --container-width-large: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --font-main: "Satoshi", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-bg);
  color: var(--color-black);
  font-family: var(--font-main);
  font-size: 16px;
}

nav {
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.nav-logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 45px;
  background-color: var(--color-netural);
  width: 300px;
  padding: 8px 0px;
}
.nav-menu_option {
  padding: 5px 10px;
  font-weight: medium;
  border-radius: 45px;
}
.nav-menu_option:hover {
  cursor: pointer;
  color: red;
}
.nav-menu_option--hightlight {
  background-color: var(--color-white);
}

.container {
  max-width: var(--container-width-sm);
  margin: 0 auto;
}
/* ============== GRID PROPS ===================== */
.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  grid-auto-rows: 300px;
  gap: 20px 20px;
}
/* ============== Flex PROPS ===================== */
.flex {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.flex-colum {
  display: flex;
  flex-direction: column;
}

/* ========   Buttons ==== */
.social-item-container {
  position: relative;
}
.link-btn {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: var(--color-white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: box-shadow 0.2s ease-out 0s;
  will-change: transform;
  bottom: 14px;
  left: 14px;
}
.link-btn:hover {
  transition: ease-out 0.2s;
  outline: 5px solid rgb(255, 255, 255, 0.5);
}
.link-btn-icon {
  height: auto;
  width: 15px;
}
.radius {
  border-radius: 25px;
}

.social-item-container__twitter {
  background: var(--color-blue);
}
.social-item-container__github {
  background: var(--color-purple);
}

.social-icon {
  height: auto;
  width: 60px;
}

.bio-container {
  background: var(--color-white);
  padding: 36px 42px;
  grid-column: span 2;
}

.bio-container__image {
  max-width: 100px;
}

.project-container {
  background: var(--color-white);
  position: relative;
  grid-row: span 2;
}

.darkmode-container {
  background: var(--color-white);
}
.applemusic-container {
  background: var(--color-white);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ============== mapboxgl PROPS ===================== */

.mapboxgl-canvas {
  width: 200px;
  height: 600px;
}
.mapboxgl-marker {
  border: 5px solid #fff;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(93, 161, 224, 0.4);
}

.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
  display: none;
}

.mapbox-container {
  position: relative;
}
/* ============== MEDIA QUERIES (SMALL DEVICECS) ===================== */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  .bio-container {
    grid-column: span 2;
    grid-row: span 2;
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    grid-auto-rows: 200px;
  }
  .contact-button {
    transition: ease-in-out 0.2s;
    display: none;
  }
}
/* ============== MEDIA QUERIES (MEDIUM DEVICECS) ===================== */

/* ============== MEDIA QUERIES (LARGE DEVICECS) ===================== */
